.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

@media(max-width: 768px) {
    .carouselContainer {
        max-width: 320px;
    }
}