.navcontainer {
    padding: var(--layout-padding);
}

.navcontainer nav {
    display: flex;
    align-items: center;
}

.navcontainer li {
    margin: 1rem;
}

.navcontainer ul {
    display: flex;
}

.navcontainer a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.navcontainer a:hover {
    color: #03c4eb;
}