.form_container {
    background-color: white;
    color: black;
    padding: 3rem;
    border-radius: 10px;
    width: 37rem;
    height: 40rem;
    font-size: 2.5rem;
}
.form_container p {
    text-align: center;
}

.errorMessage {
    color: red;
    font-size: 1.8rem;
    font-weight: 600;
}