.form_container {
    background-color: white;
    color: black;
    padding: 3rem;
    border-radius: 10px;
    width: 37rem;
    height: 40rem;
    font-size: 2.5rem;
}
.form_container p {
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: 600;
}

.errorMessage {
    color: red;
    font-size: 1.8rem;
    font-weight: 600;
}

@media(max-width: 1000px) {
    .form_container {
        max-width: 425px;
        box-shadow: 20px 20px 60px #bebebe;
    }
}