.img_container {
    position: relative;
    padding: 0;
    line-height: 0;
}
.diventer{
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.panelbachiAdults{
    background-color:#FF8C00;    
    float: left;
    height: 361px;

}

.panelbachiAdults .form_container{
    
    float: right;
    
    
}
.panelbachi {
    background-color:#00194A;    
    float: left;
    height: 361px;
}

.imagenright{
    float: right;
    width: 500;
    height: 361px;
    
}
.img_container img {
    width: 100%;
    height: auto;
    
}
.panelbachi .form_container{
    
    float: right;
    
    
}
.containerVirtuals .form_container{

    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.containerVirtuals .form_containerrigth{

    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.rigthptext{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
}

.rigthptext2{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
}
.img_container .form_container {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img_container .img_container_bac{
    position:absolute;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img_container .text {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text {
    font-size: 2rem;
    color: white;
}

.container {
    
    margin: 5%; 
    text-align: center;   
    flex-wrap: wrap;
}

.containercertificacion{
    flex-wrap: wrap;
}

.container h1 {
    padding: var(--layout-padding);
    text-align: center;
    color: black;
    font-weight: 600;    
    margin: 5px;
    font-size: 40px;
    font-family: 'Poppins';

}
.containerPress{
    background-image: url(./../assets/fondoprimariaback.png);
}

.containerprimaira{
    background-image: url(./../assets/fondoprimariaback2.png);
}

.containeradults{
 
    background-color: white;
}
.containeradults h1{
    padding: var(--layout-padding);
    text-align: center;
    color: #00194A ;
    font-weight: 600;    
    margin: 5px;
    font-size: 40px;
    font-family: 'Poppins';

}
.containerprimaira  h1{
    padding: var(--layout-padding);
    text-align: center;
    color: #00194A ;
    font-weight: 600;    
    margin: 5px;
    font-size: 40px;
    font-family: 'Poppins';

}

.containeradults  h3{
    padding: var(--layout-padding);
    text-align: center;
    color: #00194A ;
    font-weight: 600;    
    margin: 5px;
    font-size: 25px;
    font-family: 'Poppins';

}

.containerprimaira  h3{
    padding: var(--layout-padding);
    text-align: center;
    color: #00194A ;
    font-weight: 600;    
    margin: 5px;
    font-size: 25px;
    font-family: 'Poppins';

}

.divblanco{
    background-color: #007B77;
    width: 100%;
    height: 160px;
    margin: 10px;

}

.containerPress h1{
    padding: var(--layout-padding);
    text-align: center;
    color: #00194A ;
    font-weight: 600;    
    margin: 5px;
    font-size: 40px;
    font-family: 'Poppins';

}

.containerPress h3{
    padding: var(--layout-padding);
    text-align: center;
    color: #00194A ;
    font-weight: 600;    
    margin: 5px;
    font-size: 25px;
    font-family: 'Poppins';

}

.container h2 {
    padding: var(--layout-padding);
    text-align: center;
    color: #FF8C00;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Poppins';
}

.title {
    width: 100%;
}

.separe_item {
    background-color: #FF8C00;
    /* background-color: #d53a9d; */
    border-radius: 0.5rem;
    content: "";
    height: 0.5rem;
    left: 50%;
    position: absolute;
    width: 4rem;
    transform: translateX(-50%);
}


.container span {
    text-align: center;
    width: 100vw;
    font-size: 25px;
    color: white;
    font-family: 'Poppins';
}

.img_container a {
    color: white;
    text-decoration: none;
}

.border_gradient {

    border-radius: 10px;
    /*   background-image: linear-gradient(white, white), radial-gradient(circle at top left, #34ddff,#d53a9d);*/
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.paragraph_container {
    padding-left: 5%;
    padding-right: 5%;
}

.paragraph_containerventajas {
    padding-left: 5;
    margin: 70px;
    padding-right: 5%;
}

.button_container {
    display: flex;
    justify-content: center;
    padding-bottom: var(--layout-padding);
}

.floating_Whatsapp {
    z-index: 1;
}

.number {

    font-weight: 800;
    font-size: 60px;
    color: #007B77;
    text-align: center;
    font-family: 'Montserrat';
}

.image {


    color: #0B0B61;
    display: flex;
    padding: 10px;
    justify-content: center;

}

.containerVirtuals{
    text-align: center; 
    position: relative;

    
}
.containerVirtual p{
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    padding: 50px;

}

.texto {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';

}

.textoNosotros {
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins';

}

.texto_M {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    font-family: 'Poppins';
}
.texto_2 {
    text-align: justify;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    font-family: 'Poppins';
}

.textocalidad{
    padding: 20px;
    margin: 10px;
    
}

.politicaCalidad p {
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    font-family: 'Poppins';
}
.educacionvirtual {
    background-color: #0B0B61;
    padding: 20px;
}

.educacionvirtual p  {
        
    color: white;
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}
.Nosotrosdiv {
    background-color: #007B77;
    padding: 20px;
    
}

.imgnos{
    background-color: #007B77;
}
.textNosotros{
    color: white;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}
.texto1educacionvirtual {
    
    color: white;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;

}

.textooferta {
    
    color: white;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    
    text-align: justify;

}
.textovalores {
  
    color: black;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;

}
.texto2educacionvirtual {

    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF8C00;



}

.textoadults {

    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: black;



}

.testimony {
    background-color: #00194A;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.EducationOnline {
    background-color: #00194A;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.beneficiosyventajasdiv {
    background-color: #D9D9D9;
    padding: 20px;
    
    
}

.politicaCalidad {
    background-color:#D9D9D980;
    padding: 40px;    
    flex-wrap: wrap;     
    
    
}

.Certificacion {
    
    padding: 50px; 
    
    flex-wrap: wrap;
    
}

.politicaCalidad2{

    padding: 40px;
    margin: 30px;
    
}

.textpolitica{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    align-content: center;
    

}

.textpolitica4{
    font-family: 'Poppins';
    font-size: 47px;
    font-weight: 600;
    text-align: center;
    

}
.textpolitica3{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;


}

.textpolitica2{
font-family:'Poppins';
font-size: 20px;
font-weight:400;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

}
.titlebenyvent {
    color: black;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;

}

.titlebenyvent2 {
   
    color: black;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}

.containerbenven {

    margin: 5px;

}

.nosotros {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    color: #000000;

}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}





/*responsive media, mobile, tablet and desktop*/
@media(max-width: 768px) {
    .carouselContainer {
        max-width: 320px;
    }
}
@media (max-width: 1000px) {
    .img_container .form_container {
        position: relative;
        top: 0%;
        left: 0%;
        transform: initial;
        -ms-transform: initial;
    }

    .form_container {
        display: flex;
        justify-content: center;
    }

    .containerVirtuals img{
        width: 100%;
        height: auto;
    }
    .flex{        
   flex-wrap: wrap;
    }
}