.img_container {
    position: relative;
}

.img_container img {
    width: 100%;
    height: auto;
}

.img_container .form_container {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img_container .text {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text {
    font-size: 2rem;
    color: white;
}

.container {
    padding: var(--layout-padding);
    margin: 5%;
    text-align: center;
    font-size: 18px;
}

.container h1 {
    padding: var(--layout-padding);
    text-align: center;
    color: black;
    font-weight: 600;    
    font-size: 3rem;
    font-family: 'Poppins';

}

.container h2 {
    padding: var(--layout-padding);
    text-align: center;
    color: #FF8C00;
    font-weight: 600;
    font-size: 2rem;
    font-size: 40px;
    font-family: 'Poppins';
}

.title {
    width: 100%;
}

.separe_item {
    background-color: #FF8C00;
    /* background-color: #d53a9d; */
    border-radius: 0.5rem;
    content: "";
    height: 0.5rem;
    left: 50%;
    position: absolute;
    width: 4rem;
    transform: translateX(-50%);
}


.container span {
    text-align: center;
    width: 100vw;
    font-size: 25px;
    color: white;
    font-family: 'Poppins';
}

.img_container a {
    color: white;
    text-decoration: none;
}

.border_gradient{
    
    border-radius: 10px;
 /*   background-image: linear-gradient(white, white), radial-gradient(circle at top left, #34ddff,#d53a9d);*/
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.paragraph_container {
    padding-left: 5%;
    padding-right: 5%;
}

.paragraph_containerventajas {
    padding-left: 5;
    margin: 70px;
    padding-right: 5%;
}

.button_container {
    display: flex;
    justify-content: center;
    padding-bottom: var(--layout-padding);
}

.floating_Whatsapp {
    z-index: 999;
}

.number{

    font-weight: bold;
    font-size: 60px;
    color:  #007B77;
    text-align: center;
    font-family: 'Poppins';
}

.image{

    
    color: #0B0B61;
    display: flex;
    padding: 10px;
    justify-content: center;

}

.texto{
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 0;
    font-family: 'Poppins';
    margin: 0;
}

.educacionvirtual{
    background-color: #0B0B61;
    padding: 20px;
}

.texto1educacionvirtual{

    
    color: white;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    
}

.texto2educacionvirtual{

    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF8C00;

    
    
}

.testimony {
    background-color: #00194A;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.EducationOnline {
    background-color: #00194A;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.beneficiosyventajasdiv{
    background-color: #D9D9D9;
    padding: 20px;
}
.titlebenyvent {
    font-size: 30px;
    color: black;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;

}

.titlebenyvent2 {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}

.containerbenven{

    margin: 5px;

}

.nosotros{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    
    color: #000000;

}
