.roundedCard {
    border-radius: 30px !important;
}
.card {
    margin: 20px;
}

.bold{
    font-weight: 'bold'
}

.text{
    font-size: 17px;
    color: #000000;
    text-align: center;
}

.textHead {
    
    font-size: 25px;
    font-family: 'Poppins';
    
    
}
