.list_container {
    display: flex;
    font-size: 1.2rem !important;
    padding: 5px;
    
}

.list_container li {
    padding-left: var(--layout-padding);
    padding-right: var(--layout-padding);
    /* border: 1px solid #000; */
    text-align: right;
    font-size: medium;
}

.list_container a {
    font-weight: 600;
    padding: 2px;
    margin: 2px;
    color: white;
    text-align: right;
}

.container_unique {
    justify-content: space-between;
}

.container_ {
    margin-right: var(--layout-margin);
}

.botonPlataforma {
    white-space: normal !important;
    word-wrap: break-word;
    background-color: orange;
    color: white;
   position: initial;
    text-align: center;
    padding: 24px;
   margin: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0em;
   text-align: center;
   

}

.fondoback{

    background-color: #007B77;
    
;

}

#nav {
    
    background-color: #007B77;
    padding: 11px;
   
}

#nav2 {
    
    position:absolute;
     float:left;

}
