.list_container {
    display: flex;
}

.list_container li {
    padding-left: var(--layout-padding);
    padding-right: var(--layout-padding);
    /* border: 1px solid #000; */
}

.list_container a {
    font-weight: 600;
}

.container_unique {
    justify-content: space-between;
}

.container_ {
    margin-right: var(--layout-margin);
}

