.linkBar {
    display: flex;
    justify-content: space-between;
    max-height: 6rem;
    min-height: 4rem;
    background-color:#007B77 ;
}

.linkBar ul {
    display: flex;
    justify-content: space-between;
    max-height: 4rem;
}

.linkBar li {
    margin: 10px;
    font-size: 1.8rem;
}

.linkBar a {
    color: white;

}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-left: 13rem;
    background-color:   #FF8C00 ;
}

.buttonContainer img {
    height: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;

    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    font-size: 2.5rem;
    font-weight: 700;
}

@media(max-width: 680px) {
    .linkBar li {
        font-size: 1rem;
    }
}